
@using SWEprotein.Models
<style type="text/css">.marginbuy {  }</style>

<div class="row>" style="margin-top:25px;">
    <div class="col-md-6"><p>En massa text om produkterna som listas här. Te.x. om det är protein 
                              så står det om varför kroppen behöver protein, vilka sorters protein det finns blabla. Till höger om den här
        textrutan så listas den mest sålda produkten i den här typen av produkt. En massa text om produkterna som listas här. Te.x. om det är protein 
                              så står det om varför kroppen behöver protein, vilka sorters protein det finns blabla. Till höger om den här
        textrutan så listas den mest sålda produkten i den här typen av produkt. 
                          </p></div>
        @foreach (tbProduct prod in @ViewBag.topProduct)
        {
            <div class="col-md-6">
                    <div class="thumbnail" style="height:280px;">
               <a href="/Product/Produkt/@prod.iID"> <img src="@prod.sPicture" class="img-responsive" alt="..."></a>
             
            </div>
                

            </div>
        }
    </div>

<div class="row" style="margin-bottom:50px;">


    @foreach (tbProduct prod in Model)
    {
        <div class="col-md-3" style="padding-left:5px; padding-right:5px;">
            <div class="thumbnail" style="height:250px;">
               <a href="/Product/Produkt/@prod.iID"> <img src="@prod.sPicture" class="img-responsive" alt="..." style="height:80px;"></a>
                <div class="caption">
                  <a href="/Product/Produkt/@prod.iID">   <p style="font-weight:bold; color:black; margin-top:10px;">@prod.sName</p></a>
                    <p style="font-size:x-small">@prod.sDescription</p>
                    <hr style="color:darkgrey; margin-top:45px;"/>
                    <p style="font-weight:bold; color:red;">Pris: @prod.iPrice:- @Html.ActionLink("Köp", "CartAdd", "Orders", new {id = prod.iID}, new {@class="btn-xs btn-warning marginbuy"}) </p>
                </div>
            </div>
        </div>
  
    }
</div>
