@model SWEprotein.Models.tbProductCategory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Skapa ny typ av kategori</title>   <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Kategori</legend>
    
            <div class="editor-label">
              Namn
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sName)
                @Html.ValidationMessageFor(model => model.sName)
            </div>
           
    
            <p>
                <input type="submit" value="Lägg till" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Adminsidan", "Index") |    
        @Html.ActionLink("Till listan", "ProductCategory")
    </div>
</body>
</html>
