@model SWEprotein.Models.Campaign

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Kampanj</title>
</head>
<body>
    <fieldset>
        <legend>Kampanj</legend>
    
        <div class="display-label">
          Namn
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.sName)
        </div>
    
        <div class="display-label">
        Bildens URL
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.imgURL)
        </div>
    </fieldset>
    <p>
        @Html.ActionLink("Edit", "EditCampaign", new { id=Model.iID }) |
        @Html.ActionLink("Adminsidan", "Index") |    @Html.ActionLink("Till listan", "Campaigns")
    </p>
</body>
</html>
