@model SWEprotein.Models.tbUserInfo

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Redigera användare</title>   <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <script src="~/Scripts/jquery-1.9.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Redigera användare</legend>
    
            @Html.HiddenFor(model => model.UserID)
    
            <div class="editor-label">
             AnvändarID
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.UserID)
                @Html.ValidationMessageFor(model => model.UserID)
            </div>
    
            <div class="editor-label">
              Adress
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sAdress)
                @Html.ValidationMessageFor(model => model.sAdress)
            </div>
    
            <div class="editor-label">
              Postnummer
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sPostalNumber)
                @Html.ValidationMessageFor(model => model.sPostalNumber)
            </div>
    
            <div class="editor-label">
             Stad
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sCity)
                @Html.ValidationMessageFor(model => model.sCity)
            </div>
    
            <div class="editor-label">
           Email
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sEmail)
                @Html.ValidationMessageFor(model => model.sEmail)
            </div>
    
            <div class="editor-label">
             Telefonnummer
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.sTelephone)
                @Html.ValidationMessageFor(model => model.sTelephone)
            </div>
    
            <div class="editor-label">
             Köpt för
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.iTotalPurchase)
                @Html.ValidationMessageFor(model => model.iTotalPurchase)
            </div>
    
            <p>
                <input type="submit" value="Spara" />
            </p>
        </fieldset>
    }
    
    <div>
           @Html.ActionLink("Adminsidan", "Index") |    @Html.ActionLink("Till listan", "Users")
    </div>
</body>
</html>
