@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AdminSidan</title>   <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>

        <h2>AdminSidan</h2>


        @Html.ActionLink("Ny/Editera/Delete: Produkter", "Products", "Admin")
        <br />
        @Html.ActionLink("Ny/Editera/Delete: Ordrar", "Orders", "Admin")
        <br />
        @Html.ActionLink("Ny/Editera/Delete: Användare", "Users", "Admin")  <br />
        @Html.ActionLink("Ny/Editera/Delete: Produkttyp", "ProductType", "Admin")<br/>
          @Html.ActionLink("Ny/Editera/Delete: Produktkategori", "ProductCategory", "Admin")<br/>
        @Html.ActionLink("Ny/Editera/Delete: Kampanjer", "Campaigns", "Admin")
        <br /> <br />
        @Html.ActionLink("Lagersaldo", "LagerSaldo", "Admin")
        <br />
            @Html.ActionLink("Ekonomi", "Economy", "Admin")
        <br />
        <br />
        @Html.ActionLink("Tillbaka","Index","Product")

        
    
    </div>
</body>
</html>
