@using SWEprotein.Models
@model OrderModel

@{
    Layout = null;
}

<style type="text/css">

    h2 {
        margin: 0;
    }
    .tableWrapper {
        margin: 30px;
    }
    td {
        padding: 0 50px 5px 0px;
    }
    th {
        text-align: left;
    }

</style>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orders</title>
</head>
<body>
  


    <div class="tableWrapper">
        <h2>Registrerade användare</h2>
        <table class="table table-condensed table-bordered">
            <tr>
                <th>
                    AnvändarID
                </th>
                <th>
                    Status
                </th>
                <th>
                    Summa
                </th>
                <th>
                    Orderdatum
                </th>
                <th></th>
            </tr>
    
            @foreach (tbOrder uO in Model.UserOrderList) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => uO.iUserID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => uO.tbStatus.sStatus)
                    </td>
          
                    <td>
                        @Html.DisplayFor(modelItem => uO.iSum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => uO.dtOrderDate)
                    </td>
                    <td>
                        @Html.ActionLink("INFO", "InfoOrder", new { id=uO.iID, type="user" }) |
                        @Html.ActionLink("Edit", "EditOrder", new { id=uO.iID }) |
                        @Html.ActionLink("Delete", "DeleteOrder", new { id=uO.iID }) |
                        @Html.ActionLink("Skicka", "SendOrder", new { id=uO.iID })
                    </td>
                </tr>
            }
        </table>
    </div>    
    <div class="tableWrapper">
        <h2>Gästanvändare</h2>    
            <table class="table table-condensed table-bordered">
            <tr>
                <th>
                    Status
                </th>
                <th>
                    Summa
                </th>
                <th>
                    Orderdatum
                </th>
                <th></th>
            </tr>
    
            @foreach (tbGuestOrder gO in Model.GuestOrderList) {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => gO.tbStatus.sStatus)
                    </td>
          
                    <td>
                        @Html.DisplayFor(modelItem => gO.iSum)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => gO.dtOrderDate)
                    </td>
                    <td>
                        @Html.ActionLink("INFO", "InfoOrder", new { id=gO.iID, type="guest" }) |
                        @Html.ActionLink("Edit", "EditOrder", new { id=gO.iID }) |
                        @Html.ActionLink("Delete", "DeleteOrder", new { id=gO.iID }) |
                        @Html.ActionLink("Skicka", "SendOrder", new { id=gO.iID })
                    </td>
                </tr>
            }
    
        </table>  
    </div>     
    <div>@Html.ActionLink("Adminsidan", "Index")</div>
</body>
</html>