@using SWEprotein.Models
@model IEnumerable<SWEprotein.Models.tbOrder>
@{
    ViewBag.Title = "UserOrders";
}

@foreach (tbOrder or in Model)
{
    <div class="caption">
        
       Datum: <p>@or.dtOrderDate</p>
       Status: <p>@or.tbStatus.sStatus</p>
        Summa:  <p>@or.iSum</p>
        @Html.ActionLink("Detaljer", "OrderDetail", "User", new { id = @or.iID}, null)
    </div>
}