@model SWEprotein.Models.LoginModel

@{
    ViewBag.Title = "Logga in";
}

<hgroup class="title">
  
</hgroup>

<section id="loginForm">
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Logga in</legend>
        <div>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
          </div>  <div>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
                  </div>  <div>
                               @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                              @Html.CheckBoxFor(m => m.RememberMe)
               
                          </div>
        <input type="submit" value="Logga in" />
    </fieldset>
    <p>
        @Html.ActionLink("Registrera ", "Register") om du inte har något konto.
    </p>
}
</section>
